/*
    Set variables
*/

$white: #FFF;
$black: #000;

/* Brand Colors */
$color-main: #090909;
$color-accent: #F0B323;
$color-accent-light: #F5B324;
$color-accent-secondary: #FF009D;
$color-neutral: #E5E5E5;
$color-netural-dark: rgba(9, 9, 9, 0.6);
$color-error: red;

/* Style Properties */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-medium: 600;
$weight-regular: 400;
$weight-light: 300;

/* Padding */
$padding-sm: rem(5px);
$padding-md: rem(10px);
$padding-lg: rem(15px);

/* Margin */
$margin-sm: rem(5px);
$margin-md: rem(10px);
$margin-lg: rem(15px);